</div>
<div class="scroll-up-btn">
  <i class="fas fa-angle-up"></i>
</div>
<nav class="navbar">
  <div class="max-width">
      <div class="logo"><a href="{{ '/about.html' }}">Portfo<span>lio.</span></a></div>
      <ul class="menu">
          <li><a href="{{ '/home.html' }}" class="menu-btn">Home</a></li>
          <li><a href="{{ '/about.html' }}" class="menu-btn">About</a></li>
          <li><a href="{{ '/skills.html' }}" class="menu-btn">Skills</a></li>
          <li><a href="{{ '/contact.html' }}" class="menu-btn">Contact</a></li>
      </ul>
      <div class="menu-btn">
          <i class="fas fa-bars"></i>
      </div>
  </div>
</nav>